<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div>It's a header</div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<div class="container center-pill">
    <h3>List of Products</h3>
</div>

<table class="container center-pill">
    <thread>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="foodstuff:${foodstuffs}">
        <td th:text="${foodstuff.name}"/>
        <td th:text="${foodstuff.price}"/>
    </tr>
    </tbody>
</table>

<div class="container center-pill">
    <form action="#" th:action="@{/generallist}" th:object="${newFoodstuff}" method="post">
        <p>Name: <input type="text" th:field="*{name}"></p>
        <p>Price: <input type="text" th:field="*{price}"></p>
        <p>
            <button type="submit" name="action" value="save" class="btn btn-primary green">Save foodstuff</button>
        </p>
    </form>

</div>


</body>
</html>